---
import DefaultLayout from "../layouts/DefaultLayout.astro";
---

<!DOCTYPE html>
<DefaultLayout>
  <h1 class="text-3xl text-orange-500 mb-5" >Opaa... não encontrado</h1>
  <a class="text-base text-zinc-300 underline decoration-orange-500 hover:text-orange-500 transition-colors" href="/" >Voltar para home</a>
</DefaultLayout>