---
import PostNotFound from '../../../../components/PostNotFound.astro';
import DefaultLayout from '../../../../layouts/DefaultLayout.astro';
const allPosts = await Astro.glob("../../../../content/blog/*.md");
const Post = allPosts.find(post => post.frontmatter.title.toLowerCase().replace(/\s/g, '-').replace(/\?/g, "") === Astro.params.slug)
---

<!DOCTYPE html>
<DefaultLayout>
	{Post?.frontmatter.category === Astro.params.category ? (
		<h1>Nice</h1>
	) : (
		<PostNotFound />
	)}
</DefaultLayout>
