---
import DefaultLayout from "../layouts/DefaultLayout.astro"
---

<!DOCTYPE html>
<DefaultLayout>
  <h1 class="text-3xl text-orange-500 mb-5" >Opaa... não encontrado</h1>
  <div class="w-max flex flex-col gap-0 items-start" >
    <a class="text-base text-zinc-300" href="/" >Voltar para home</a>
    <div class="w-full h-px bg-orange-500 rounded" ></div>
  </div>
</DefaultLayout>