---
import { SITE_TITLE } from '../consts';
import HeaderLink from './HeaderLink.astro';
---

<header class="w-full py-4 gap-8 flex items-center justify-center backdrop-blur-md fixed top-0" >
	<a href="/">
		<h2 class="font-bold font-mono text-xl text-zinc-300">
			{SITE_TITLE}
		</h2>
	</a>
	<nav class="flex items-center gap-4" >
		<HeaderLink href="/">Home</HeaderLink>
		<HeaderLink href="/about">About</HeaderLink>
		<HeaderLink href="https://github.com/Artur-Poffo/Hacking-News" target="_blank">Source on GitHub</HeaderLink>
	</nav>
</header>